<footer class="indigo page-footer">
  <div class="container">
    <div class="row">
      <div class="col s12">
        <h5 class="white-text">Créditos dos Ícones</h5>
        <ul id="credits">
          <li>
            Gif Logo feito usando
            <a href="https://formtypemaker.appspot.com/" title="Form Type Maker"
              >Form Type Maker</a
            >
            de
            <a
              href="https://github.com/romannurik/FORMTypeMaker"
              title="romannurik"
              >romannurik</a
            >
          </li>
          <li>
            Ícones feitos por <a href="https://material.io/icons/">Google</a>,
            disponíveis sob a
            <a
              href="https://www.apache.org/licenses/LICENSE-2.0"
              target="_blank"
              >Licença Apache Versão 2.0</a
            >
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container">
      <span
        >Feito por
        <a
          style="font-weight: bold"
          href="https://github.com/piedcipher"
          target="_blank"
          >Tirth Patel</a
        ></span
      >
    </div>
  </div>
</footer>
