<nav>
  <div class="nav-wrapper indigo darken-2">
    <a style="margin-left: 20px" class="breadcrumb" href="#!">Admin</a>
    <a class="breadcrumb" href="#!">Página Inicial</a>
    <div style="margin-right: 20px" id="timestamp" class="right"></div>
  </div>
</nav>
