<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Recursos</title>
    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/css/materialize.min.css"
      rel="stylesheet"
    />
  </head>
  <body>
    <% include ('header') %>

    <main>
      <div class="container">
        <h3>Todos os Recursos</h3>
        <div class="row">
          <% resources.forEach(resource => { %>
          <div class="col s12 m6">
            <div class="card">
              <div class="card-content">
                <span class="card-title"><%= resource.name %></span>
                <p>Disponível: <%= resource.available %></p>
                <p>Quantidade disponível: <%= resource.quantity %></p>
              </div>
              <div class="card-action">
                <a href="/resources/<%= resource._id %>">Ver Detalhes</a>
              </div>
            </div>
          </div>
          <% }) %>
        </div>
      </div>
    </main>

    <% include ('footer') %>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/js/materialize.min.js"></script>
  </body>
</html>
